/* ------------------ Sidebar ----------------- */
@media all and (min-width: 851px) {
  .layout-one-sidebar .sidebar {
    width: 30%;
  }
  #sidebar-first {
    width: 30%;
    margin-left: -100%; /* LTR */
  }
  [dir="rtl"] #sidebar-first {
    margin-right: -100%;
    margin-left: 0;
  }
  #sidebar-second {
    width: 30%;
    margin-left: -30%; /* LTR */
    clear: none;
  }
  [dir="rtl"] #sidebar-second {
    margin-right: -30%;
    margin-left: 0;
  }
}

